service cloud.firestore {
  match /databases/{database}/documents {
    match /restaurants/{restaurant} {
      match /ratings/{rating} {
        // Allow anyone to read, but only auth'd users to write
        allow read: if true;
        allow write: if request.auth != null;
      }

      allow read: if true;
      allow create: if request.auth != null;
    }
  }
}
