**/secrets.json
**/firebase-debug.log
**/node_modules
**/bower_components
**/*.bak
.idea
.firebaserc
/firestore/Todds Notes
.DS_Store
/firestore/functions/src/super_secret
/firestore/functions/lib
/firestore/functions/src/UseForOtherScreencast
