.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--color-surface-primary);
  color: var(--color-text-primary);
  overflow: hidden;
}

.mainContentArea {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.leftSidebar {
  width: 240px;
  flex-shrink: 0;
  background-color: var(--color-surface-primary);
  padding-top: 16px;
  overflow-y: auto;
  border-right: 1px solid var(--color-border-primary);
}

.centerContent {
  flex-grow: 1;
  background-color: var(--color-surface-primary);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.rightSidebar {
  width: 300px;
  flex-shrink: 0;
  background-color: var(--color-surface-primary);
  overflow-y: auto;
  border-left: 1px solid var(--color-border-primary);
}