rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {

    // This rule allows anyone with your Storage bucket reference to view, edit,
    // and delete all data in your Storage bucket. It is useful for getting
    // started, but it is configured to never expire and it
    // leaves your app open to attackers.
    //
    // Make sure to write security rules for your app before you deploy, or else
    // all client requests to your Storage bucket will be allowed.
    match /{allPaths=**} {
      allow read, write: if true
    }
  }
}
