service cloud.firestore {
  match /databases/{database}/documents {
    match /restaurants/{restaurant} {
      match /ratings/{rating} {
        allow read: if request.auth != null;
        allow write: if request.auth.uid == request.resource.userId;
      }

      allow read: if request.auth != null;
      allow create: if request.auth != null;
      allow update: if request.auth != null
                    && request.resource.name == resource.name
                    && request.resource.city == resource.city
                    && request.resource.price == resource.price
                    && request.resource.category == resource.category;
    }
  }
}
